$bg-opacity: 1;

%taskStyle-shared {
  height: 57px;
  text-align: center;
  border-radius: 0.375rem;
  background-color: #3182ce;
  background-color: rgba(49, 130, 206, $bg-opacity);
}

.taskIncomplete {
  @extend %taskStyle-shared;
}

.taskComplete {
  @extend %taskStyle-shared;

  background-color: #38a169;
  background-color: rgba(56, 161, 105, $bg-opacity);
}

.taskHidden {
  @extend %taskStyle-shared;

  background-color: #e53e3e;
  background-color: rgba(229, 62, 62, $bg-opacity);
}

.taskImageStyle {
  background-size: cover;
  width: 53px;
  height: 57px;

  margin: auto;
  border-radius: 100%;
}
