%charStyle-shared {
  max-width: 100%;
  height: auto;

  border-radius: 100%;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
}

.inactiveCharStyle {
  @extend %charStyle-shared;
}

.activeCharStyle {
  @extend %charStyle-shared;
  background-color: #4299e1;
  background-color: rgba(66, 153, 225, $bg-opacity);
}

.deleteCharStyle {
  @extend %charStyle-shared;
  background-color: #48bb78;
  background-color: rgba(72, 187, 120, $bg-opacity);
}
