$bg-opacity: 1;

%charStyle-shared {
  max-width: 100%;
  height: auto;

  border-radius: 100%;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
}

.characterListStyle {
  overflow-y: scroll;
  height: 287px;

  border-bottom: 1px solid black;
  background-color: #a0aec0;
  background-color: rgba(160, 174, 192, $bg-opacity);

  div {
    padding: 0.5rem;
    justify-items: center;

    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 0.5rem;
  }
}

.inactiveCharStyle {
  @extend %charStyle-shared;
}

.activeCharStyle {
  @extend %charStyle-shared;
  background-color: #4299e1;
  background-color: rgba(66, 153, 225, $bg-opacity);
}

.deleteCharStyle {
  @extend %charStyle-shared;
  background-color: #48bb78;
  background-color: rgba(72, 187, 120, $bg-opacity);
}
