$bg-opacity: 1;

%ursusStyle-base {
  text-align: center;
  font-size: 0.75rem;

  background-color: #a0aec0;
  background-color: rgba(160, 174, 192, $bg-opacity);
}

.ursusNotGoldenStyle {
  @extend %ursusStyle-base;
}

.ursusIsGoldenStyle {
  @extend %ursusStyle-base;

  background-color: #f6e05e;
  background-color: rgba(246, 224, 94, $bg-opacity);
}
